*.out
*.o
*zst*
*sig*
*tar.gz*
spmenu
spmenu-*[.]PKGBUILD
buildconf*
build
./*.ebuild*
PKGBUILD

src/wl/wlr-layer-shell-unstable-v1-client-protocol.h
src/wl/wlr-layer-shell-unstable-v1-protocol.c
src/wl/xdg-output-unstable-v1-protocol.c
src/wl/xdg-output-unstable-v1-client-protocol.h
src/wl/xdg-shell-client-protocol.h
src/wl/xdg-shell-protocol.c
