*.out
*.o
*zst*
*sig*
*tar.gz*
spmenu
*[.]PKGBUILD
buildconf*
build

libs/wl/wlr-layer-shell-unstable-v1-client-protocol.h
libs/wl/wlr-layer-shell-unstable-v1-protocol.c
libs/wl/xdg-output-unstable-v1-protocol.c
libs/wl/xdg-output-unstable-v1-client-protocol.h
libs/wl/xdg-shell-client-protocol.h
libs/wl/xdg-shell-protocol.c
