[Desktop Entry]
Version=2.0
Name=spmenu (Desktop)
Icon=spmenu
GenericName=Run launcher
Comment=List out .desktop entries
Exec=spmenu_run -d
Terminal=false
Categories=Utility;System;
Type=Application
