[Desktop Entry]
Version=1.0
Name=spmenu (File manager)
Name[sv]=spmenu (Filhanterare)
Icon=spmenu
GenericName=File manager
GenericName[sv]=Filhanterare
Comment=Handle files and directories
Comment[sv]=Hantera filer och mappar
Exec=spmenu_run -fm %F
Terminal=false
Type=Application
Categories=Utility;System;FileTools;FileManager;
Keywords=File;Directory;Browse;
MimeType=inode/directory;
