[Desktop Entry]
Version=1.0
Name=spmenu (Run)
Icon=spmenu
GenericName=Run launcher
Comment=List out PATH entries.
Exec=spmenu_run -x
Terminal=false
Categories=Utility;System;
Type=Application
